<template>
  <div class="mt-16 p">
    <v-toolbar flat color="primary" dark>
      <v-toolbar-title>Update User</v-toolbar-title>
    </v-toolbar>
    <material-card color="primary" icon="mdi-account-outline" class="mt-16">
      <template #title>
        Edit Profile —
        <small class="text-body-1">Complete your profile</small>
      </template>

      <v-form>
        <v-container class="py-0">
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field label="User Name" />
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field label="Email Address" />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field label="First Name" />
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field label="Last Name" />
            </v-col>

            <v-col cols="12">
              <v-text-field label="Adress" />
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field label="City" />
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field label="Country" />
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field label="Postal Code" type="number" />
            </v-col>

            <v-col cols="12">
              <v-textarea
                label="About Me"
                value="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
              />
            </v-col>

            <v-col cols="12" class="text-right">
              <v-btn color="primary" min-width="150"> Update Profile </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </material-card>
  </div>
</template>