<template>
  <v-Footer dark>
    <!-- columns here -->
    <v-container>
      <v-row>
        <v-col>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Single-line item</v-list-item-title>
            </v-list-item-content> </v-list-item
          ><v-list-item>
            <v-list-item-content>
              <v-list-item-title>Single-line item</v-list-item-title>
            </v-list-item-content> </v-list-item
          ><v-list-item>
            <v-list-item-content>
              <v-list-item-title>Single-line item</v-list-item-title>
            </v-list-item-content> </v-list-item
          ><v-list-item>
            <v-list-item-content>
              <v-list-item-title>Single-line item</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-col>
        <v-col>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Single-line item</v-list-item-title>
            </v-list-item-content> </v-list-item
          ><v-list-item>
            <v-list-item-content>
              <v-list-item-title>Single-line item</v-list-item-title>
            </v-list-item-content> </v-list-item
          ><v-list-item>
            <v-list-item-content>
              <v-list-item-title>Single-line item</v-list-item-title>
            </v-list-item-content> </v-list-item
          ><v-list-item>
            <v-list-item-content>
              <v-list-item-title>Single-line item</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-col>
        <v-col>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Social Links</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-btn v-for="icon in icons" :key="icon" dark icon>
              <v-icon size="24px">
                {{ icon }}
              </v-icon>
            </v-btn>
          </v-list-item>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col> {{ 'Copyright ' + new Date().getFullYear() }} </v-col>
        <v-spacer></v-spacer>
        <v-col> Available on </v-col>
        <v-col>
          <v-img
            :src="require('../../assets/image.jpg')"
            height="15px"
            width="75px"
          ></v-img>
        </v-col>
        <v-col>
          <v-img
            :src="require('../../assets/image.jpg')"
            height="15px"
            width="75px"
          ></v-img>
        </v-col>
      </v-row>
    </v-container>
  </v-Footer>
</template>

<script>
export default {
  data: () => ({
    icons: ['mdi-facebook', 'mdi-twitter', 'mdi-instagram'],
  }),
}
</script>