<template>
  <div>
    <v-card
      elevation="15"
      class="mx-auto my-12"
      max-width="650"
      outlined
      shaped
      tile
    >
      <v-card-title class="justify-center">ADD PRODUCT</v-card-title>
      <v-card
        class="justify-center"
        elevation="15"
        max-width="650"
        outlined
        shaped
        tile
      >
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-col>
            <p class="title">NAME</p>
            <v-text-field label="Product Name" outlined></v-text-field>
          </v-col>

          <v-col>
            <p class="title">DESCRIPTION</p>
            <v-textarea
              v-model="bio"
              auto-grow
              outlined
              label="Product Description"
              rows="1"
            >
            </v-textarea>
          </v-col>

          <v-col>
            <p class="title">PRICE</p>
            <v-text-field
              type="number"
              label="Product Price"
              :value="100"
              outlined
            ></v-text-field>
          </v-col>
          <v-container fluid>
            <p class="title">CATEGORIES</p>

            <v-row>
              <v-col cols="12" sm="4" md="4">
                <v-checkbox
                  v-model="ex4"
                  label="clothes"
                  color="red"
                  value="red"
                  hide-details
                ></v-checkbox>
                <v-checkbox
                  v-model="ex4"
                  label="automobiles"
                  color="red darken-3"
                  value="red darken-3"
                  hide-details
                ></v-checkbox>
              </v-col>
              <v-col cols="12" sm="4" md="4">
                <v-checkbox
                  v-model="ex4"
                  label="electrical appliances"
                  color="indigo"
                  value="indigo"
                  hide-details
                ></v-checkbox>
                <v-checkbox
                  v-model="ex4"
                  label="women wear"
                  color="indigo darken-3"
                  value="indigo darken-3"
                  hide-details
                ></v-checkbox>
              </v-col>
              <v-col cols="12" sm="4" md="4">
                <v-checkbox
                  v-model="ex4"
                  label="shoes"
                  color="orange"
                  value="orange"
                  hide-details
                ></v-checkbox>
                <v-checkbox
                  v-model="ex4"
                  label="kitchenary items"
                  color="orange darken-3"
                  value="orange darken-3"
                  hide-details
                ></v-checkbox>
              </v-col>
            </v-row>
          </v-container>
          <v-col>
            <p class="title">SIZE</p>
            <v-radio-group v-model="row" row>
              <v-radio label="XS" value="XS"></v-radio>
              <v-radio label="S" value="s"></v-radio>
              <v-radio label="M" value="m"></v-radio>
              <v-radio label="L" value="l"></v-radio>
              <v-radio label="XL" value="xl"></v-radio>
            </v-radio-group>
          </v-col>
          <v-col>
            <p class="title">ITEMS</p>

            <v-text-field
              outlined
              type="number"
              :value="1"
              dense
            ></v-text-field>
          </v-col>
          <v-col>
            <p class="title">IMAGE</p>
            <v-file-input
              :rules="rules"
              accept="image/png, image/jpeg, image/bmp"
              placeholder="Pick an image for product"
              prepend-icon="mdi-camera"
              label="Featured Image"
              outlined
            ></v-file-input>
          </v-col>
        </v-form>
      </v-card>
      <div class="my-2" align="center">
        <v-btn
          align="center"
          :disabled="!valid"
          color="success"
          @click="validate"
          x-large
        >
          Submit
        </v-btn>
      </div>
    </v-card>
  </div>
</template>
<script>
export default {
  methods: {
    validate() {
      if (this.$refs.loginForm.validate()) {
        // submit form to server/API here...
      }
    },
  },
  data: () => ({
    valid: true,
    select: null,
    items: ['Item 1', 'Item 2', 'Item 3', 'Item 4'],
    checkbox: false,
  }),
}
</script>

