<template>
  <div>
    <v-breadcrumbs class="pb-0" :items="breadcrums"></v-breadcrumbs>
  </div>
</template>
<script>
export default {
  data: () => ({
    breadcrums: [
      {
        text: 'Home',
        disabled: false,
        href: 'breadcrumbs_home',
      },
      {
        text: 'Clothing',
        disabled: false,
        href: 'breadcrumbs_clothing',
      },
      {
        text: 'T-Shirts',
        disabled: true,
        href: 'breadcrumbs_shirts',
      },
    ],
  }),
}
</script>