<template>
  <v-app dark>
    <MainPageNavbar />
    <MainPageNavbarBottom />
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <MainPageFooter />
  </v-app>
</template>




<style scoped>
.v-application {
  background-color: #e8e8e8;
}
</style>

