<template>
  <v-layout column>
    <v-container grid-list-lg fluid>
      <v-card v-if="itemsList.length < 1">
        <v-card-title primary-title>
          <h1>Oops! No items yet :(</h1>
          <v-spacer></v-spacer>
          <v-btn class="white--text" color="secondary" to="/create"
            >Create Advertisement <v-icon>create</v-icon></v-btn
          >
        </v-card-title>
      </v-card>
      <v-layout row wrap v-else>
        <v-flex
          v-for="(item, index) in itemsList"
          :key="index"
          xs12
          sm6
          md4
          lg3
        >
          <v-card style="border-radius: 15px" hover raised>
            <v-card-media>
              <v-img
                class="white--text align-end"
                height="200px"
                :src="require('../assets/image.jpg')"
              >
                <v-layout
                  slot="placeholder"
                  fill-height
                  align-center
                  justify-center
                  ma-0
                >
                  <v-progress-circular
                    indeterminate
                    color="secondary"
                  ></v-progress-circular>
                </v-layout>
              </v-img>
            </v-card-media>
            <v-card-title class="headline font-weight-bold" primary-title>
              dfkkd
            </v-card-title>
            <!-- <v-divider class='mx-5' color="#D50000"></v-divider> -->
            <v-card-text> dfldfdf </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <nuxt-link style="text-decoration: none">
                <v-chip color="secondary" text-color="white">
                  <v-avatar>
                    <v-icon color="white">account_circle</v-icon>
                  </v-avatar>
                  dfdf
                </v-chip>
              </nuxt-link>
              <v-spacer></v-spacer>
              <!-- <v-btn class='white--text' round ripple color="secondary" :to='"/category/item/" + item._id'>View</v-btn> -->
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-layout>
</template>
<script>
export default {}
</script>