<template>
  <v-app>
    <v-card>
      <v-responsive :min-height="100">
        <v-card-text class="text-center"> Promotions </v-card-text>
      </v-responsive>
    </v-card>

    <v-container>
      <v-row>
        <v-col v-for="n in 4" :key="n" cols="6">
          <v-card>
            <v-card-title>Category</v-card-title>
            <v-divider></v-divider>
            <v-responsive>
              <v-container>
                <v-row>
                  <v-col v-for="n in 3" :key="n" cols="6">
                    <NuxtLink to="/listing">
                      <v-card>
                        <v-responsive :min-height="100" :aspect="20 / 9">
                          <v-img
                            :src="require('../assets/image.jpg')"
                            height="150px"
                          ></v-img>

                          <v-card-subtitle class="text-center">
                            Sub Category
                          </v-card-subtitle>
                        </v-responsive>
                      </v-card>
                    </NuxtLink>
                  </v-col>
                </v-row>
              </v-container>
            </v-responsive>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script lang="ts">
export default {
  layout: 'index',
}
</script>
