<template>
  <v-app id="inspire">
    <Bread />
    <v-container>
      <v-row>
        <v-col cols="12" align="center">
          <v-divider></v-divider>
          <v-divider></v-divider>

          <v-tabs vertical>
            <v-card class="mx-auto my-12" max-width="374">
              <template slot="progress">
                <v-progress-linear
                  height="10"
                  indeterminate
                ></v-progress-linear>
              </template>
              <v-avatar size="150px">
                <v-img
                  alt="Avatar"
                  src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460"
                />
              </v-avatar>
              <v-card-title class="justify-center">Cafe Badilico</v-card-title>
              <v-card-subtitle class="justify-center"
                >Cafe Badilico</v-card-subtitle
              >

              <v-list dense>
                <v-list-item v-for="(item, i) in detailsItems" :key="i">
                  <v-list-item-icon>
                    <v-icon v-text="item.icon"></v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-subtitle
                      v-text="item.title"
                      class="text-left"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>

            <v-tab v-for="(item, i) in menuItems" :key="i">
              <v-icon v-text="item.icon" left></v-icon> {{ item.title }}
            </v-tab>

            <v-tab-item>
              <UserUpdateUser> </UserUpdateUser>
            </v-tab-item>
            <v-tab-item>
              <UserUpdateUser> </UserUpdateUser>
            </v-tab-item>
            <v-tab-item>
              <UserUpdateUser> </UserUpdateUser>
            </v-tab-item>
            <v-tab-item>
              <UserUpdateUser> </UserUpdateUser>
            </v-tab-item>
            <v-tab-item>
              <UserUpdateUser> </UserUpdateUser>
            </v-tab-item>
            <v-tab-item>
              <UserUpdateUser> </UserUpdateUser>
            </v-tab-item>
          </v-tabs>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      menuItems: [
        { title: 'My Advertisements', icon: 'mdi-animation-outline' },
        { title: 'Favourites', icon: 'mdi-heart-outline' },
        { title: 'Notifications', icon: 'mdi-bell-outline' },
        { title: 'Edit Profile', icon: 'mdi-account-group-outline' },
        { title: 'Settings', icon: 'mdi-account-cog-outline' },
        { title: 'Logout', icon: 'mdi-animation-outline' },
      ],
      detailsItems: [
        { title: '+977 9865326554', icon: 'mdi-phone-outline' },
        { title: 'superman@batman.com', icon: 'mdi-email-outline' },
        { title: '3rd street,Platina,Kryptonite', icon: 'mdi-pin-outline' },
      ],
    }
  },
}
</script>